<!DOCTYPE html>
<html>
<head>
  <title>Tiny APP</title>
</head>
<body>
  <!-- A login form will sets cookies after submit -->
  <form action="/login" method="POST">
          <label for="username">Username:</label>
          <input id = "username"
                 type="text"
                 name="username"
                 style="width: 100px">
          <input type="submit" value="Submit">
          <%= username %>

  </form>
</body>
</html>