<!DOCTYPE html>
<html>
<head>
  <title>Tiny APP</title>
</head>
<body>
  <% if( username ){ %>
    <form action="/logout" method="POST">
      <!-- display username -->
      Hello <%= username %>
      <!-- a logout buttom POST /logout and clear username cookie -->
      <input type="submit" value="Logout">
    </form>
  <% } else{ %>
    <!-- A login form will sets cookies after submit -->
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input id = "username"
             type="text"
             name="username"
             style="width: 100px">
      <input type="submit" value="Submit">
    </form>
  <% } %>



</body>
</html>