
      <!-- A login form will sets cookies after submit -->
    <% if ( user_id ) { %>
      <form action="/logout" method="POST">
        <!-- display user email -->
        <% for (const id in users){ %>
          <% if (id === user_id) { %>
            <h3 class="text-muted">Hello <%= users[id].email %></h3>  
          <% } %>
        <% } %>
        <!-- a logout button POST /logout and clear user_id cookie -->
        <input class="nav nav-pill float-right" type="submit" value="Logout">
      </form>
    <% }else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>