<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiny App</title>
  </head>
  <body>
    <h1>Welcome to Tiny APP!</h1>
    <h2>Please Log in or <a href="/register">Register</a></h2>
    <form action="/login" method="POST">
      <label for="email">email</label>
      <input id="email" type="email" name="email">
      <label for="password">password</label>
      <input id="password" type="password" name="password">
      <!-- a Login button POST info to /login -->
      <input type="submit" value="Log in">
    </form>
  </body>
</html>