<%# list full url by short form link %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>

  <main>
    <%# Display shortURL %>
    <% if (urls) {%>
      <h1>ShortURL: <%= shortURL %>
      <%# Add an Update button that will update longURL %>
      <form action="/urls/<%= shortURL %>" method="POST">
        <input
          type="text"
          name="longURL"
          value="<%= urls %>"
          style="width: 200px">
        <input type="submit" value="Update">
      </form>
    <% } else{ %>
      <h1>Given ShortURL <%= shortURL %> NOT Exist</h1>
    <%}%>
  </main>

</body>
</html>